.thumb {
    @extend .rounded;

    &--xxs {
        max-width: 25px;
        max-height: 25px;
    }

    &--xs {
        max-width: 50px;
        max-height: 50px;
    }

    &--sm {
        max-width: 100px;
        max-height: 100px;
    }

    &--md {
        max-width: 250px;
        max-height: 250px;
    }
}