.progress {
    background-color: gray !important;
    height: 10px !important;

    &-bar {
        background-color: $blue !important;
        
        &--danger {
            background-color: $red !important;
        }
    }
}