.td-status {
    border-right: 8px solid black;

    &--success {
        border-right-color: $green;
    }
    &--danger {
        border-right-color: $red;
    }
    &--info {
        border-right-color: $blue;
    }
}
table.table-sticky-first {
    & thead th:first-child {
        position: sticky;
        left: 0;
        z-index: 2;
    }

    & tbody th {
        position: sticky;
        left: 0;
        z-index: 1;
    }
}