.vlign--middle {
    vertical-align: middle;
}
.vlign--baseline-middle {
    vertical-align: -webkit-baseline-middle;
}

@media print {    
    .no-print, .no-print * {
        display: none !important;
    }
}

.border {
    &-bottom-2 {
        border-bottom: 2px solid gray;
    }
    &-top-2 {
        border-top: 2px solid gray;
    }
}