.vlign--middle {
    vertical-align: middle !important;
}
.vlign--top {
    vertical-align: top;
}
.vlign--baseline-middle {
    vertical-align: -webkit-baseline-middle;
}

@media print {    
    .no-print, .no-print * {
        display: none !important;
    }
}

.border {
    &-bottom-1-inherit {
        border-bottom: 1px solid;
    }
    &-top-1-inherit {
        border-top: 1px solid;
    }

    &-bottom-2 {
        border-bottom: 2px solid gray;
    }
    &-top-2 {
        border-top: 2px solid gray;
    }

    &-bottom-2-inherit {
        border-bottom: 2px solid;
    }
    &-top-2-inherit {
        border-top: 2px solid;
    }
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.bg--tecc, .bg--tecc > a {
    color: white !important;
}
.bg--tecc {
    background-color: $blue !important;
}

.outline-0:focus {
    outline: none;
    box-shadow: none;
}

.break-word {
    word-break: break-word;
}

.cursor-pointer {
    cursor: pointer;
}